<div class="container-fluid">
  <div class="row main-content">
    <div class="col-sm-6 left-bar">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          <h3>Anbud: {{averagePrice.averageOfferPrice|checkNull}} kr/m2</h3>

          <h3>Resultat: {{averagePrice.averageFinalPrice|checkNull}} kr/m2</h3>
        </div>
        <div class="panel-footer">
          <p>Baserat på {{nrOfProjectsFiltred}} uppdrag</p>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Filter</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3">
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" ng-click="check('cities', true)">Markera</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="check('cities', false)">Avmarkera
                </button>
              </div>
              <ul>
                <li ng-repeat="city in cities">
                  <input type="checkbox" ng-model="city.activated">
                  {{city.title}}
                </li>
              </ul>
            </div>
            <div class="col-sm-3">
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" ng-click="check('disciplines', true)">Markera
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-click="check('disciplines', false)">Avmarkera
                </button>
              </div>
              <ul>
                <li ng-repeat="discipline in disciplines">
                  <input type="checkbox" ng-model="discipline.activated">
                  {{discipline.title}}
                </li>
              </ul>
            </div>
            <div class="col-sm-3">
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" ng-click="check('types', true)">Markera</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="check('types', false)">Avmarkera</button>
              </div>
              <ul>
                <li ng-repeat="type in types">
                  <input type="checkbox" ng-model="type.activated">
                  {{type.title}}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm" ng-click="check('levels', true)">Markera</button>
              <button type="button" class="btn btn-default btn-sm" ng-click="check('levels', false)">Avmarkera</button>
            </div>
            <ul>
              <li ng-repeat="level in levels">
                <input type="checkbox" ng-model="level.activated">
                {{level.title}}
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-6 project-table">
      <input type="text" class="form-control" ng-model="search">
      <button type="button" class="btn btn-success btn pull-right" ng-click="newProject()">Lägg till</button>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects | matchProjects:cities:disciplines:levels:types | filter:search">
          <td>{{project.prj_number}}: {{project.prj_title}}</td>
          <td>{{project.prj_leader}}</td>
          <td>{{project.prj_year}}</td>
          <td>{{project.prj_type}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>