<div class="container">
  <div class="row main-content">
    <div class="col-sm-3 left-bar">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          <h3>Anbud: {{averagePrice.averageOfferPrice}} kr/m2</h3>

          <h3>Resultat: {{averagePrice.averageFinalPrice}} kr/m2</h3>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Filter</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li ng-repeat="city in cities">
              <input type="checkbox" ng-model="city.activated">
              {{city.title}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6 project-table">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects | matchProjects:cities">
          <td>{{project.prj_number}}: {{project.prj_title}}</td>
          <td>{{project.prj_leader}}</td>
          <td>{{project.prj_year}}</td>
          <td>{{project.prj_type}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-3 right-bar">
      <h1>hello</h1>
    </div>
  </div>
</div>